* {
    box-sizing: border-box;
}

/* Screen-reader only text */
.sr-only:not(:focus) {
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    position: absolute;
    padding: 0;
}

.clearfix,
.cf {
    display: flow-root;
}

/*
    Generic image resizer to make images "responsive".
    Images should always fit into their container & stay in proportion, e.g. max-width: 100% + height: auto;
   */
img,
picture {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    /* object-fit: contain; */
}

.header {
    background-color: #00aced;
    color: white;
    margin: 0 auto;

    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: 100%;

    /*box-shadow: 1px 1px 5px 0px #0c6a8d;*/
    /*position: fixed;    sticky cause problem in scroling!*/
    top: 0;
    margin: 0;
    padding: 0;
}

.header__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding: 0.5em 0;
}

.header-wrapper {
    max-width: 100%;
}

.wrapper {
    max-width: 100%;
}

/* OPTIONAL STYLING - Just for appearance */
body {
    background-color: rgb(255, 255, 255);
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875em;
    /*14px*/
    font-weight: 300;
    margin: 0 auto;
    padding: 0;
}

a,
h1,
h2 {
    color: white;
    text-decoration: none;
}

h2 {
    font-weight: lighter;
    font-size: 1.125;
    margin-top: 0;
}

a:focus,
a:hover {
    color: #0c6a8d;
}

ul {
    list-style: none;
}

span {
    padding-right: 10px;
    padding-left: 10px;
}

.site-wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: white;
    color: #444;
}

@media only screen and (min-width: 980px) {
    .site-wrapper {
        /*margin: 10px auto;
        border-radius: 10px;*/
        margin: 10px auto;
        padding: 2em;
    }
}

/* Nav menu */
.nav {
    width: 100%;
    position: absolute;
    overflow: hidden;
    /*position: sticky;/*stick to its parent*/
    background-color: #00aced;
    overflow: hidden;
}

.menu {
    padding: 0;
    margin: 0;
}

.menu a {
    display: block;
    padding-top: 1em 0 1em 0;
    color: white;
}

.menu a:hover {
    background-color: #0c6a8d;
}

.login>*:hover {
    background-color: #0c6a8d;
}

.nav {
    max-height: 0;
}

/* Menu Icon */
.hamb {
    cursor: pointer;
    font-weight: 400;
    /*float: left;
    padding: 40px 20px;*/
}

/* Style label tag */

.hamb-line {
    background: white;
    display: block;
    height: 2px;
    font-weight: 400;
    position: relative;
    width: 24px;

}

/* Style span tag */

.hamb-line::before,
.hamb-line::after {}

.hamb-line::before {
    top: 5px;
}

.hamb-line::after {
    top: -5px;
}

.side-menu {
    display: none;
}

/* Hide checkbox */
/* Toggle menu icon */
.side-menu:checked~nav {
    max-height: 100%;
    padding-bottom: 50px;
}

.side-menu:checked~.hamb .hamb-line {
    /*background: transparent;*/
    background: #00aced;
}

.side-menu:checked~.hamb .hamb-line::before {
    top: 0;
}

.side-menu:checked~.hamb .hamb-line::after {
    top: 0;
}

.menu__item {
    margin: 0;
    padding: 0;
}

.menu__link {
    display: block;
    padding: 0.3em 0.6em;
    margin-top: 10px;
    background-color: #00aced;
    width: 100%;
}

.menu__item::after {
    padding-bottom: 10px;
    content: "";
    display: block;
    border-bottom: 1px solid white;
}

.menu__link:hover,
.menu__link:focus {
    background-color: #00aeede6;
    color: white;
}

.login {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0;
}

.login a {
    padding-left: 0;
}

.fa-lock {
    color: white;
}

@media only screen and (min-width: 600px) {

    .menu__items {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 0.3em;
    }

    .menu__link {
        padding: 0.4em 0.8em;
    }

}

/*
    https://tympanus.net/Tutorials/ResponsiveSVGs/index6.html
*/
.sw-container {
    /*border: 10px solid #b6bdc3;*/
    width: 100%;
    background: #fff;
    margin: 0 auto;
    padding: 1em;
}

/* Required to make image fluid in IE */
img:not(.png) {
    width: 100%;
}

/*shopping cart*/
.header-shopcart {
    display: inline-block;
    color: (white);
    margin-left: 10px;
}

.header-shopcart__items {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-right: 0.5em;
}

.header-shopcart__item {
    padding: 0;
    margin-left: 0.6em;
}

.header-shopcart__items__cart-items-count {
    display: inline-block;
    margin: 0;

    border: none;
    border-radius: 5px;

    padding: 0.3em 0.8em;
    border-radius: 20px;
    background-color: #0092ca;
    color: white;
}

.header-shopcart__items__view {
    display: inline-block;
    margin: 0;
    /*margin-bottom: 1em;
    padding: 0.6em 1em;*/
}

.fa-cart-shopping {
    color: white;
}

.longeLable {
    border-radius: 25px;
    box-sizing: border-box;
    padding-left: 5px;
    border: 1px solid #002936;
}

.search__products {
    padding: 10px;
    display: block;
    outline: none;
    margin-right: 10px;
}

.search {
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

.search__toggle {
    display: inline-block;
    border: none;
    border-radius: 50%;
    aspect-ratio: 1 /1;
    padding: 10px;
    border-left: none;
    /* Prevent double borders */
    background: #002936;
    color: white;
}

/* Hover effects on mobile are hilarious... but focus styling is super useful! */
.search__toggle:hover,
.search__toggle:focus {
    background: #0c6a8d;
}

.category {
    background: #002936;
    margin-top: 10px;
    padding: 10px;
}

.category__items {
    /*display: grid;
    grid-template-columns: repeat(2, [col-start] 1fr);
    gap: 10px;*/

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    list-style: none;
    align-items: center;
    list-style-type: none;
    gap: 10px;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 600px) {

    .category__items {
        justify-content: space-between;
    }

}

.category__item {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    min-height: 40px;
    margin: 0.3em;
    padding: 0.2em 0.4em;
    border: 1px solid #00aced;
    border-radius: 5px;
    box-sizing: border-box;
}

.fa-chevron-right {
    color: #00aced;
    padding-left: 25px;
}

.category__item:hover,
.category__item:focus {
    background-color: #00aeede6;
    color: white;
}

.fa-chevron-right:hover,
.fa-chevron-right:focus {
    color: white;
}

.products-line,
.brands-line {
    padding: 0.313em 0;
    margin: 0.6em 0 0.6em 0.6em;
}

.products-container {
    padding-left: 1rem;
}

.container-line {
    background-color: #FF690c;
    border-radius: 5rem 0 0 5rem;
    box-sizing: border-box;
}

/*  featured products   */
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 2em;

    /* Override default list styles */
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.products__item {
    flex-basis: 170px;
    padding: 10px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.item__photo-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    /* Keep height same as width */
    background: white;
    border-radius: 5px;
}

.item__photo {
    /* "Responsive" image technique */
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

.item__name {
    margin: 1em 0 0.6em;
    color: #333;
}

.item__description {
    margin: 0;
}

.prices {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.price {
    font-size: 1.875em;
    /*30px*/
    font-weight: 400;
    color: #595959;
}

.discounted-price {
    color: #FF690c;
}

.old-price {
    font-size: 1.25em;
    color: #595959;
}

.item__name,
.item__description {
    font-size: 1.25em;
    font-weight: 500;
    color: #006989;
}

.special-was {
    font-size: 0.875em;
    font-weight: 500;
    padding-right: 0;
}

.cross {
    text-decoration: line-through;
}

/*  brands   */
b.special {
    font-weight: inherit;
    padding: 0 0.5em 0.5em 0.5em;
    margin: 0;
    color: #00aced;
    font-weight: 400;
}

.brands-container {}

.brands {
    display: grid;
    grid-template-columns: repeat(3, [col-start] 1fr);
    align-items: center;
    gap: 1em;
    margin: 0;
    padding: 0;
    background-color: #002936;
    padding: 0.5em 1.25em;
    margin: 1.25em 0 1.25em 0;
}

.brand__photo-frame {
    margin: 0.5em;
}

.brands-description {
    padding: 0 0.5em 0.5em 0.5em;
    margin: 0;
    font-weight: 400;
    color: #595959;
}

.more-info {
    display: flex;
    flex-direction: column;
    background: #00aced;
}

.site-nav {
    background: #00aced;
    font-size: 14px;
    padding: 1.56em 1em 1em 1em;
    margin: 0;
    border: 0;
}

.site-nav__items {
    position: relative;
    margin: 1.88em 0.3em 0 0;
    list-style: none;
    /*padding-left: 0.6em;*/
    padding: 0;
    font-size: 14px;
    font-weight: 400;
}

.site-nav__item {
    background-image: url(../Resources/Images/Rectangle.png);
    background-repeat: no-repeat;
    line-height: 0.5em;
    margin-bottom: 0.875em;
}

.site-nav__item>a {
    margin-left: 1.25em;
    margin-bottom: 1em;
}

.contact-us {
    background: #00aced;
    font-size: 14px;
    padding: 1em 1em 1em 1em;
    margin: 0;
}

.contact-us__options {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.contact-us__option {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    font-size: 15px;
    color: #fff;
}
.circle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 90px;
    min-height: 90px;
    border: 1px solid white;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

.circle>i {
    margin: 0.5em;
    max-width: 100%;
}

.site-footer {
    grid-column: span 2;
    color: #595959;
    font-size: .93em;
    font-weight: 400;
    text-align: center;
    padding: 1.375em 0 2.5em 0;
}

.site-footer>p {
    padding: 0;
    margin: 0;
}

@media only screen and (min-width: 900px) {
    .sw-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo-frame {
        max-width: 600px;
        min-height: 82px;
        margin: 1.38rem 0 1.38rem 0;
    }

    .site-wrapper {
        margin-top: 0;
        padding-top: 0;
    }
}

@media only screen and (min-width: 722px) {
    .category{
        display: flex;
        min-height: 60px;
        padding: 0.3em 0 0.3em 0;
        padding-left: 2em;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        margin: 0 0 1.38rem 0;
        
    }
    .category__item{
        background-color: #002936;
        width: auto;
        border: none;
        margin: 0.3em 0 0.3em 0;
        padding: 0.2em 0 0.4em 0;
    }
    .category__items{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        text-align: left;
        list-style: none;
        align-content: center;
        gap: 0;
    }
    .arrow {
        visibility: hidden;
    }
}