* {
    box-sizing: border-box;
}

/* Screen-reader only text */
.sr-only:not(:focus) {
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    position: absolute;
    padding: 0;
}

.clearfix,
.cf {
    display: flow-root;
}

/*
    Generic image resizer to make images "responsive".
    Images should always fit into their container & stay in proportion, e.g. max-width: 100% + height: auto;
   */
img,
picture {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    /* object-fit: contain; */
}

.header {
    background-color: #00aced;
    color: white;
    margin: 0 auto;

    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: 100%;

    /*box-shadow: 1px 1px 5px 0px #0c6a8d;*/
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
}
.header__links{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.header-wrapper {
    max-width: 100%;
}

/* OPTIONAL STYLING - Just for appearance */
body {
    background-color: rgb(255, 255, 255);
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    margin: 0 auto;
    padding: 0;
}

a,h1, h2{
    color: white;
    text-decoration: none;
}

a:focus,
a:hover {
    color: #0c6a8d;
}
ul{
    list-style: none;
}
span{
    padding-right: 10px;
    padding-left: 10px;
}

.site-wrapper {
    width: 100%;
    /*margin: 10px;
    padding: 1em;*/
    background-color: white;
    color: #444;
}

@media only screen and (min-width: 980px) {
    .site-wrapper {
        /*margin: 10px auto;
        border-radius: 10px;*/
        padding: 0;
        margin: 0;
    }
}

/* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #00aced;
    overflow: hidden;

}
.menu{
    padding: 0;
    margin: 0;
}
.menu a{
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
}
.menu a:hover{
    background-color: #0c6a8d;
}
.login > *:hover{
    background-color: #0c6a8d;
}
.nav{
    max-height: 0;
}
/* Menu Icon */
.hamb{
    cursor: pointer;
    /*float: left;
    padding: 40px 20px;*/
}/* Style label tag */

.hamb-line {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
} /* Hide checkbox */
/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    /*background: transparent;*/
    background: #00aced;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    top:0;
}
.menu__item {
    margin: 0;
    padding: 0;
}

.menu__link {
    display: block;
    padding: 0.3em 0.6em;
    background-color: #00aced;
    width: 100%;
}
.menu__link::after{
    padding-bottom: 10px;
    content: "";
    display: block;
    border-bottom: 1px solid white;
}

.menu__link:hover,
.menu__link:focus {
    background-color: #00aeede6;
    color: white;
}
.login{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0;
}
.login a{
    padding-left: 0;
}
.fa-lock{
    color: white;
}
@media only screen and (min-width: 600px) {

    .menu__items {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 0.3em;
    }

    .menu__link {
        padding: 0.4em 0.8em;
    }

}

/*
    https://tympanus.net/Tutorials/ResponsiveSVGs/index6.html
*/
.sw-container {
    /*border: 10px solid #b6bdc3;*/
    width: 100%;
    background: #fff;
    margin: 0 auto;
    padding: 20px;
}

/* Required to make image fluid in IE */
img:not(.png) {
    width: 100%;
}

/*shopping cart*/
.header-shopcart {
    /*margin-bottom: 1em;
    padding: 0.6em 1em;*/
    /*margin: 0;
    padding: 0;
    display: block;*/
    display: inline-block;
    color: (white);
    margin-left: 10px;
}

.header-shopcart__items {
    display: flex;
    /*flex-wrap: wrap;*/
    /*justify-content: space-between;
    margin: 0;*/
    margin: 0;
    padding: 0;
    list-style-type: none;

    /*margin-bottom: 1em;
    padding: 0.6em 1em;*/
}

.header-shopcart__items>li {
    margin: auto 10px;
}

.header-shopcart__items__cart-items-count {
    display: inline-block;
    /*margin-bottom: 1em;
    padding: 0.6em 1em;*/
    margin: 0;
    padding: 1px 6px;
    
    border: none;
    border-radius: 5px;
    /*background-color: #00aced;*/
    background: #599eb7;
    color: white;
}
.header-shopcart__items__view{
    display: inline-block;
    margin: 0;
    /*margin-bottom: 1em;
    padding: 0.6em 1em;*/
}
.fa-cart-shopping{
    color: white;
}
.longeLable {
    border-radius: 25px;
    box-sizing: border-box;
    padding-left: 5px;
    border: 1px solid #002936;
}
.search__products{
    padding: 10px;
    display: block;
    outline: none;
    margin-right: 10px;
}
.search{
    display: flex;
    justify-content: center;
}

.search__toggle{
    display: inline-block;
    /*position: relative;
    border-radius: 50%;
    width: 100%;
    height: auto;
    padding-top: 100%;*/

    border: none;
    border-radius: 50%;
    /*padding: 2px 4px;*/
    padding: 10px;
    border-left: none; /* Prevent double borders */
    background: #002936;
    color: white;
}
/* Hover effects on mobile are hilarious... but focus styling is super useful! */
.search__toggle:hover,
.search__toggle:focus {
    background: #0c6a8d;
}

.category{
    background:#002936;
    margin-top: 10px;
    padding: 10px;
}
.category__items {
    display: grid;
    grid-template-columns: repeat(2, [col-start] 1fr);
    gap: 10px;/* row-gap column gap */
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }
.category__item {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border:1px solid #00aced;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;
}
.fa-chevron-right{
  color: #00aced;
  padding-left: 25px;
}
.category__item:hover,
.category__item:focus {
    background-color: #00aeede6;
    color: white;
}
.fa-chevron-right:hover, .fa-chevron-right:focus{
    color: white;
}

.products-line{
    background-color: #FF690c;
    border-radius: 5rem 0 0 5rem;
    box-sizing: border-box;
    padding: 0 0 0 2rem;
}
.products-container{
    padding-left: 1rem;
}
.brands-line{
    background-color: #FF690c;
    border-radius: 5rem 0 0 5rem;
    box-sizing: border-box;
    padding: 0 0 0 2rem;
}
.brands-container{
    padding-left: 1rem;
}